<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Nhật Ký tác động</h1>
            </div>

            <div class="ml-auto d-flex align-items-center secondary-menu text-center">

            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->

<div class="row">
    <div class="col-md-12 ">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title">Danh sách tác động</h4>
                        </div>
                        <div class="col-md-6">
                            <form class="justify-content-end">
                                <div class="form-group">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            Tổng: {{totalRecords}} bản ghi
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Người tác động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in logs | orderBy: p.id | limitTo : pageSize : start">
                            <td>{{$index+1+start}}</td>
                            <td>{{log.description}}</td>
                            <td>{{log.impactTime | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{log.username}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-3 justify-content-center">
                        <li  ng-click="first()" class="page-item "><a class="page-link" href=""> << </a></li>
                        <li  ng-click="prev()"  class="page-item ">
                            <a class="page-link" href=""> < </a>
                        </li>
                        <li  ng-click="next()"  class="page-item"><a class="page-link" href=""> > </a></li>
                        <li  ng-click="last()"  class="page-item"><a class="page-link" href=""> >> </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
