<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Quản lý đơn hàng</h1>
            </div>

            <div class="ml-auto d-flex align-items-center secondary-menu text-center">

            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->

<div class="row">
    <div class="col-md-12 ">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title">Danh sách đơn hàng</h4>
                        </div>
                        <div class="col-md-6">
                            <form class="justify-content-end">
                                <div class="form-group">
                                    <input onchange="angular.element(this).scope().search(this.value)" type="date"
                                           class="form-control" placeholder="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-left">
                            Tổng: {{totalRecords}} bản ghi
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Người đặt</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Địa chỉ nhận hàng</th>
                            <th scope="col">Tổng tiền (VNĐ)</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orders | orderBy: order.id | limitTo : pageSize : start">
                            <td>{{$index+1}}</td>
                            <td>
                                <button style="text-decoration: none; font-size: 14px"
                                        ng-click="detail(order.id)"
                                        type="button"
                                        class="btn btn-link"
                                        data-toggle="modal"
                                        title="Xem chi tiết"
                                        data-target="#detailOrderModal">{{order.id}}
                                </button>

                            </td>
                            <td>{{order.username}}</td>
                            <td>{{order.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.total  | customNumber}}</td>
                            <td>
                                <span ng-if="order.status == 1"
                                      style="border-radius: 4px;padding: 2px; background-color: #f7b731">Chờ xác nhận
                                </span>
                                <span ng-if="order.status == 2"
                                      style="border-radius: 4px;padding: 2px; background-color: #33FF33">Giao hàng
                                </span>
                                <span ng-if="order.status == 0"
                                      style="border-radius: 4px;padding: 2px; background-color: #FF0000">Đã hủy
                                </span>
                            </td>
                            <td>
                                <button type="button"
                                        ng-if="order.status == 1"
                                        data-toggle="modal"
                                        data-target="#confirmOrderModal"
                                        ng-click="handleButtonClick(order.id)"
                                        class="btn btn-warning">Xác nhận
                                </button>

                                <button type="button"
                                        ng-if="order.status == 1"
                                        data-toggle="modal"
                                        data-target="#deleteOrderModal"
                                        ng-click="handleButtonClick(order.id)"
                                        class="btn btn-danger">Huỷ
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-3 justify-content-center">
                        <li  ng-click="first()" class="page-item "><a class="page-link" href=""> << </a></li>
                        <li  ng-click="prev()"  class="page-item ">
                            <a class="page-link" href=""> < </a>
                        </li>
                        <li  ng-click="next()"  class="page-item"><a class="page-link" href=""> > </a></li>
                        <li  ng-click="last()"  class="page-item"><a class="page-link" href=""> >> </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xem chi tiết đơn hàng -->
<div class="modal fade" id="detailOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-4 text-left">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
                </div>
                <div class="col-md-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="padding: 0 !important;">
                    <div class="container">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-center py-3">
                            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Đơn hàng #{{orderDetail.id}}</h2>
                        </div>

                        <!-- Main content -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Details -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="mb-3 d-flex justify-content-between">
                                            <div>
                                                <span style="font-size: 12px" class="badge rounded-pill bg-primary">{{orderDetail.orderDate | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                                                <span style="font-size: 12px"
                                                      class="badge rounded-pill bg-info">COD</span>
                                                <span ng-if="orderDetail.status == 1" style="font-size: 12px"
                                                      class="badge rounded-pill bg-warning">CHỜ XÁC NHẬN</span>
                                                <span ng-if="orderDetail.status == 2" style="font-size: 12px"
                                                      class="badge rounded-pill bg-success">GIAO HÀNG</span>
                                                <span ng-if="orderDetail.status == 0" style="font-size: 12px"
                                                      class="badge rounded-pill bg-danger">HỦY</span>
                                            </div>
                                        </div>
                                        <table class="table table-borderless">
                                            <tbody>

                                            <tr>
                                                <th>Tên sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Đơn giá</th>
                                                <th>Tiền (VNĐ)</th>
                                            </tr>
                                            <tr ng-repeat="item in orderDetail.orderProduct">
                                                <td>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-shrink-0">
                                                            <!--                                                            <img ng-src="/images/product/{{product.images[0]}}" class="imgProduct mt-2"-->
                                                            <!--                                                                 alt="">-->
                                                            <img ng-src="/images/product/{{item.img}}" alt="" width="45"
                                                                 class="img-fluid">
                                                        </div>
                                                        <div class="flex-lg-grow-1 ms-3">
                                                            <h6 class="small mb-0"><a href="#" class="text-reset">{{item.productName}}</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{item.quantity}}</td>
                                                <td class="text-end">{{item.price | customNumber}}</td>
                                                <td class="text-end">{{item.price * item.quantity | customNumber}}</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="3">Tổng</td>
                                                <td class="text-end">{{orderDetail.total | customNumber}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Phí vận chuyển</td>
                                                <td class="text-end">0</td>
                                            </tr>
                                            <tr class="fw-bold">
                                                <td colspan="3">Số tiền thanh toán</td>
                                                <td class="text-end">{{orderDetail.total | customNumber}}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <!-- Shipping information -->
                                    <div class="card-body">
                                        <h3 class="h6">Thông tin vận chuyển</h3>
                                        <hr>
                                        <address>
                                            <strong>{{orderDetail.fullname}}</strong><br>
                                            {{orderDetail.phoneNumber}}<br>
                                            {{orderDetail.email}}<br>
                                            <abbr title="Phone"></abbr>{{orderDetail.address}}<br>
                                            <i ng-if="orderDetail.note != null">Ghi chú: </i> {{orderDetail.note}}
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận đơn hàng -->
<div class="modal fade" id="confirmOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmOrderModalLabel">Xác nhận đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: red; font-weight: bold">
                Đồng ý xác nhận đơn hàng?
            </div>
            <div class="modal-footer">
                <button id="close-btn-confirm-order" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button ng-click="edit()" type="button" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận hủy -->
<div class="modal fade" id="deleteOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteOrderModalLabel">Hủy đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: red; font-weight: bold">
                Bạn có chắc chắn muốn hủy đơn hàng ?
            </div>
            <div class="modal-footer">
                <button id="close-btn-delete-order" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button ng-click="delete()" type="button" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>