<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Quản lý sản phẩm</h1>
            </div>

            <div class="ml-auto d-flex align-items-center secondary-menu text-center">

            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="card-title">Thông tin sản phẩm</h4>
                        </div>
<!--                        <div class="col-md-3 text-right">-->
<!--                            <button type="button" class="btn btn-primary" data-toggle="modal"-->
<!--                                data-target="#exampleModal">-->
<!--                                Edit Category-->
<!--                            </button>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="frmProduct">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="row">
                                            <img ng-src="/images/product/{{product.images[0]}}" class="imgProduct mt-2"
                                                alt="">
                                        </div>
                                        <div class="row mt-2">
                                            <fieldset ng-repeat="i in product.images" ng-if="i != product.images[0]">
                                                <a href="" ng-click="say()"><img src="/images/product/{{i}}" alt=""
                                                        class="img-thumbnail"></a>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Tên sản phẩm<span style="color: red">*</span></label>
                                                <input name="name" ng-model="product.name" ng-required="true" type="text"
                                                    class="form-control">
                                                <div ng-show="frmProduct.name.$dirty && frmProduct.name.$error.required"
                                                     class="badge badge-danger m-2">Tên sản phẩm không được để trống
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Mô tả</label>
                                                <input name="name" ng-model="product.description" type="text"
                                                       class="form-control">
                                            </div>

                                            <div class="form-group ">
                                                <label>Giá sản phẩm<span style="color: red">*</span></label>
                                                <input name="price" ng-model="product.price" ng-required="true" ng-min="0"
                                                    type="number" ng-pattern="/^[1-9]\d*$/" class="form-control">
                                                <div ng-show="frmProduct.price.$dirty && frmProduct.price.$error.required"
                                                     class="badge badge-danger m-2">Giá sản phẩm không được để trống
                                                </div>
                                                <div ng-show="frmProduct.price.$dirty && frmProduct.price.$error.pattern"
                                                     class="badge badge-danger m-2">Giá sản phẩm là số nguyên lớn hơn 0
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label>Số lượng<span style="color: red">*</span></label>
                                                <input name="unitsInStock" ng-model="product.unitsInStock" ng-required="true" ng-min="0"
                                                       type="number" ng-pattern="/^0$|^[1-9]\d*$/" class="form-control">
                                                <div ng-show="frmProduct.unitsInStock.$dirty && frmProduct.unitsInStock.$error.required"
                                                     class="badge badge-danger m-2">Số lượng không được để trống
                                                </div>
                                                <div ng-show="frmProduct.unitsInStock.$dirty && frmProduct.unitsInStock.$error.pattern"
                                                     class="badge badge-danger m-2">Số lượng lớn hơn hoặc bằng 0
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label>Thương hiệu</label>
                                                <select ng-model="product.brand.id" class="form-control">
                                                    <option ng-repeat="b in db.brands" ng-value="b.id">{{b.name}}
                                                    </option>
                                                </select>
                                                <!-- <div ng-show="frmProduct.name.$invalid" class="badge badge-danger m-2">Product not null</div> -->
                                            </div>

                                            <div class="form-group ">
                                                <label>Danh mục</label>
                                                <select ng-model="product.category.id" class="form-control">
                                                    <option ng-repeat="c in listCategoryActive" ng-value="c.id">{{c.name}}
                                                    </option>
                                                </select>
                                                <!-- <div ng-show="frmProduct.name.$invalid" class="badge badge-danger m-2">Product not null</div> -->
                                            </div>

                                            <div class="form-group">
                                                <label class="mr-2">Trạng thái</label>
                                                <div class="form-check-inline">
                                                    <input ng-model="product.available" class="form-check-input"
                                                        type="radio" name="available" id="gridRadios1" ng-value="true"
                                                        ng-checked="product.available">
                                                    <label class="form-check-label" for="gridRadios1">
                                                        Active
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <input ng-model="product.available" class="form-check-input"
                                                        type="radio" name="available" id="gridRadios2" ng-value="false"
                                                        ng-checked="product.available">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        Non active
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Ảnh sản phẩm</label>
                                                <input type="file" accept="image/*" multiple
                                                    onchange="angular.element(this).scope().imageChanged(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button ng-disabled="frmProduct.$invalid || chon == true" ng-click="create()"
                                            class="btn btn-primary">Thêm mới</button>
                                        <button
                                            ng-disabled="frmProduct.$invalid || frmProduct.$pristine || chon == false"
                                            ng-click="update(product.id)" class="btn btn-info">Cập nhật</button>
                                        <button ng-click="reset()" class="btn btn-default">Nhập lại</button>
                                        <button ng-disabled="chon == false" ng-click="delete(product.id)"
                                            class="btn btn-dark">Xóa</button>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title">Danh sách sản phẩm</h4>
                        </div>
                        <div class="col-md-6">
                            <form class="justify-content-end">
                                <div class="form-group">
                                    <input oninput="angular.element(this).scope().search(this.value)" type="text"
                                        class="form-control" placeholder="Nhập tên sản phẩm...">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered ">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Mô tả</th>
                                <th scope="col">Giá sản phẩm</th>
                                <th scope="col">Số lượng trong kho</th>
                                <th scope="col">Thương hiệu</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Ngày cập nhật</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in db.products | orderBy: p.id | limitTo : pageSize : start">
                                <th scope="row">{{p.id}}</th>
                                <td>{{p.name}}</td>
                                <td>{{p.description}}</td>
                                <td>{{p.price | number:0}}</td>
                                <td>{{p.unitsInStock}}</td>
                                <td>{{brandName(p.brand.id)}}</td>
                                <td>{{categoryName(p.category.id)}}</td>
                                <td>{{p.available?'Active':'Non active'}}</td>
                                <td>{{p.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{p.updateDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td class="text-right">
                                    <button ng-click="edit(p.id)" class="btn btn-primary">Sửa</button>
                                    <button ng-click="delete(p.id)" class="btn btn-dark">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-3 justify-content-center">
                        <li  ng-click="first()" class="page-item "><a class="page-link" href="">First</a></li>
                        <li  ng-click="prev()"  class="page-item ">
                            <a class="page-link" href="">Previous</a>
                        </li>
                        <li  ng-click="next()"  class="page-item"><a class="page-link" href="">Next</a></li>
                        <li  ng-click="last()"  class="page-item"><a class="page-link" href="">Last</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header row">-->
<!--                    <div class="col-md-4 text-left">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">Edit Product Category</h5>-->
<!--                    </div>-->
<!--                    <div class="col-md-7">-->
<!--                        <form class="justify-content-end">-->
<!--                            <div class="form-group">-->
<!--                                <input oninput="angular.element(this).scope().search(this.value)" type="text"-->
<!--                                    class="form-control" placeholder="Tìm kiếm">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="col-md-1">-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->

<!--                    </div>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-hover table-borderless  table-scroll">-->
<!--                        <thead class="thead-light">-->
<!--                            <tr class="ml-3">-->
<!--                                <th scope="col"></th>-->
<!--                                <th ng-repeat="c in db.categories" scope="col">{{c.name}}</th>-->
<!--                            </tr>-->
<!--                        </thead>-->
<!--                        <tbody class="body-half-screen">-->
<!--                            <tr ng-repeat="p in db.products" class="tooltip-test" title="{{p.name}}">-->
<!--                                <th>{{p.name}}</th>-->
<!--                                <th class="text-center" ng-repeat="c in db.categories">-->
<!--                                    <input ng-checked="indexOf(p.id, c.id) >= 0" type="checkbox"-->
<!--                                        ng-click="updateProductCates(p.id, c.id)">-->
<!--                                </th>-->
<!--                            </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->

<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--          <button type="button" class="btn btn-primary">Save changes</button>-->
<!--        </div> &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->